<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler,PayPal"/>
    </configSections>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AaVT3hvc20w9MPtRJG0KqKpinJDMC_w-EcPRDndrsM0VOQGLiQrbdj-l4-l70j4WtYYKrFVB7w3ky5_9" />
      <add name="clientSecret" value="ELGBoaxGTntc0U9pEgbZ5wRAYjtJVgVnGlpuvFbtTMsX8j_aqa6Ny5cI_UtoWsYgSnboAX46OgSTaUT5" />
    </settings>
  </paypal>
  <connectionStrings>
    <add name="IdentityConnectionString" connectionString="Data Source=SQL2016.FSE.Network;Integrated Security=False;User ID=user_db_1626738_1626738_wp_co5027_asg1;Password=P@$$w0rd;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <add name="user_db_1626738_1626738_wp_co5027_asg1ConnectionString" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=user_db_1626738_1626738_wp_co5027_asg1,Persist Security Info=True;User ID=user_db_1626738_1626738_wp_co5027_asg1;Password=P@$$w0rd" providerName="System.Data.SqlClient" />
    <add name="db_1626738_1626738_wp_co5027_asg1ConnectionString" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=db_1626738_1626738_wp_co5027_asg1;Persist Security Info=True;User ID=user_db_1626738_1626738_wp_co5027_asg1;Password=P@$$w0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<appSettings>
  <add key="owin:AutomaticAppStartup" value="true" />
</appSettings>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
</compilers>
</system.codedom>
</configuration>